<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div text-center padding>
    <img src="../../../assets/logo.PNG" width="110px" height="100px"/>
  </div>
  <ion-list>

		<ion-item>
		  <ion-label position="floating">Username</ion-label>
		  <ion-input type="text" [(ngModel)]="username"></ion-input>
		</ion-item>
	  
		<ion-item>
		  <ion-label position="floating">Password</ion-label>
		  <ion-input  type="password" [(ngModel)]="password"></ion-input>
		</ion-item>
	  
	</ion-list>

  <ion-button fill="solid" expand="block" color="dark" (click)="login()">Login</ion-button>
  <div text-center>
    <ion-button  size="small" (click)="singup()" shape="round">sing up?</ion-button>
  </div>

</ion-content>
