<ion-header>
  <ion-toolbar>
    <ion-title>aboutus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div><img src="../../../assets/logo.PNG" width="110px" height="100px"/></div>
  <h1>The illustric </h1>
  <h1>About Developer:</h1>
  <div><img src="../../../assets/developer.png" width="110px" height="100px"/></div>
  <p>Name: MUHAMMAD ADEEL</p>
  <p>Mobile App Developer</p>
  <p>
    <ion-item href="https://gmail.com/">
      <ion-icon slot="start" color="medium" name="contact"></ion-icon>
      <ion-label>Email </ion-label>
    </ion-item>
  </p>

</ion-content>